/* CSS declarations go here */
// @import '{zurb:foundation-sites}/scss/foundation';
body {
	// font-family: 'Old Standard TT', serif;
	// font-family: 'Abril Fatface', cursive;
	// font-family: 'Raleway', sans-serif;	
	// font-family: 'Droid Sans', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	background: #021c2c;
	color:white;
	h1,h2,h3,h4 {
		font-family: 'Abril Fatface', cursive;
		// font-family: 'Old Standard TT', serif;
	}
	header.Header {
		height:50px;
		background: #021c2c;
		position:relative;
		color:white;
		#top-bar-section {
			position: absolute;
			top: 50%; 
			transform: translate(0,-50%);		
			width:100%;	
			z-index:20;
		}
		a {
			color:white;
			padding-left:10px;
			padding-right:10px;
		}
		#login-buttons {
			z-index:4;
			position:absolute;
			background: #021c2c;
			right:0;
			margin-top:-22px;
			// line-height:3;
			.login-link-text {
				float:right;
			}
			#login-dropdown-list {
			    clear: both;
				padding:10px;
				.login-close-text {
					padding:0;
				}
				label {
					color:#1fbfb7;
				}
				input {
					background-color: #cecece !important;	
					margin-left:10px;	
					margin-right:10px;	
					margin: 0 auto;
				}				
			}
		}
	}
	#map {
		height:calc( 100vh - 50px ); 
		width:100%;
		border-top:2px solid #008CBA;
	}
	.toggle-map-list {
		margin:0;
		background-color: #79d1e5;
		font-family: 'Josefin Sans', sans-serif;
		&.on {
			background-color: #008CBA;
		}
	}
	.flip-container {
		border-top:2px solid #008CBA;
		
		perspective: 1000;
		width: 100%;
		height: calc( 100vh - 50px );
		overflow: scroll;
		//flip class that is added to turn container over
		&.flip .flipper {
			transform: rotateY(180deg);
		}	
		/* flip speed goes here */
		.flipper {
			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
			.front, .back {
				width: 100%;
				height: inherit;

				/* hide back of pane during swap */
				backface-visibility: hidden;
				position: absolute;
				a.button {
					top: 0;
					right: 0;				
					position: absolute;	
				}
			}		
			/* front pane, placed above back */
			.front { 
				top:0;
				right:0;
				z-index: 2;
				/* for firefox 31 */
				transform: rotateY(0deg);
			}		
			/* back, initially hidden pane */
			.back {
				transform: rotateY(180deg);
			    padding: 10px;
		        border-top: 2px solid #008CBA;
			    #list-item {
			    	.small-12 {
			    		padding-top:10px;
			    		padding-bottom:10px;
			    		padding-left:0;
			    		padding-right:0;
			    		border-bottom: 1px solid;
						font-family: 'Josefin Sans', sans-serif;
						&:hover {
							background-color:white;
						}
			    	}
			    }
			}			
		}		
	}
	#venue-bind {
		margin-top: 50px;
		position: absolute;
		top: 0;
		background: #021c2c;
		height: calc( 100% - 50px );
		width:100%;
		border-top:2px solid #008CBA;
		&.hidden {
			display:none;
		}
		.venue {
			color: #1fbfb7;
			h1,h3 {
				color: #1fbfb7;
			}
			.close-modal {
				right: 20px;
				position: absolute;
				color:#1fbfb7;
				font-size: 50px;
				font-weight:bold;
				top: 0;	
				cursor:pointer;		
				font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			}
		}
	}
}