/* CSS declarations go here */
// @import '{zurb:foundation-sites}/scss/foundation';
body {
	// font-family: 'Old Standard TT', serif;
	// font-family: 'Abril Fatface', cursive;
	// font-family: 'Raleway', sans-serif;	
	// font-family: 'Droid Sans', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
	background: #e6e6e6;
	color:white;
	h1,h2,h3,h4 {
		font-family: 'Abril Fatface', cursive;
		// font-family: 'Old Standard TT', serif;
	}
	header.Header {
		height:50px;
		background: #021c2c;
		position:relative;
		color:white;
		a {
			color:white;
			padding-left:10px;
			padding-right:10px;
		}
		#login-buttons {
			z-index:4;
			position: relative;
			background: #021c2c;
			.login-link-text {
				float:right;
			}
			#login-dropdown-list {
			    clear: both;
				padding:10px;
				label {
					color:#1fbfb7;
				}
				input {
					background-color: #cecece !important;	
					margin-left:10px;	
					margin-right:10px;	
					margin: 0 auto;
				}				
			}
		}
	}
	#map {
		height:calc( 100vh - 50px );
		width:100%;
	}
	.flip-container {
		perspective: 1000;
		width: 100%;
		height: calc( 100vh - 50px );
		overflow: scroll;
		//flip class that is added to turn container over
		&.flip .flipper {
			transform: rotateY(180deg);
		}	
		/* flip speed goes here */
		.flipper {
			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
			.front, .back {
				width: 100%;
				height: inherit;

				/* hide back of pane during swap */
				backface-visibility: hidden;
				position: absolute;
				a.button {
					top: 0;
					right: 0;				
					position: absolute;	
				}
			}		
			/* front pane, placed above back */
			.front { 
				top:0;
				right:0;
				z-index: 2;
				/* for firefox 31 */
				transform: rotateY(0deg);
			}		
			/* back, initially hidden pane */
			.back {
				transform: rotateY(180deg);
			}			
		}		
	}
	#venue-bind {
		margin-top: 50px;

		position: absolute;
		top: 0;
		background: white;
		height: calc( 100% - 50px );
		width:100%;
		&.hidden {
			display:none;
		}
		.venue {
			.close-modal {
				right: 20px;
				position: absolute;
				color:black;
				font-size: 50px;
				font-weight:bold;
				top: 0;	
				cursor:pointer;		
				font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
			}
		}
	}
}